{{#if success_msg}}

    {{!-- essa variavel success_msg ta vindo atraves da variavel global criada no middleware  --}}
    <div class="alert alert-success">{{success_msg}}</div>

{{/if}}

{{#if error_msg}}

    <div class="alert alert-danger">{{error_msg}}</div>


{{/if}}